

<div aria-hidden="true" aria-labelledby="modal-details-study" role="dialog" tabindex="-1" id="modal-details-study" class="modal fade">  
    <div class="modal-dialog" role="document">
    <div class="modal-content" id="modal-details-study-data">

    </div>
  </div> 
</div>