@model Cardio101.Models.Study  
<!--Modal Body Start-->  

  
        <!--Modal Header Start-->  
        <div class="modal-header">  
            <h4 class="modal-title">@Html.DisplayFor(Model => Model.Duration)</h4>  
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>  
        </div>  
        <!--Modal Header End-->  
  
  
  
<!--Modal Body End-->  